---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Stack from "../components/Stack.astro";
import MCPArchitecture from "../components/MCPArchitecture.astro";
import LiveInfra from "../components/LiveInfra.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Stack />
    <MCPArchitecture />
    <LiveInfra />
    <Projects />
  </main>
  <Footer />
</Layout>
